<!DOCTYPE html>
<html>
<head>
  <title>Arrogance or Swag</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/header" %>

<div id="content">
  <%= yield %>
</div>

<script type="text/javascript">
  App = {}
</script>

<%= javascript_include_tag 'application' %>
</body>
</html>
